.section-footer {
	color: white;
	padding: 3% 0 0 0;
	background: $red;
	.subtitle-section {
		display: block;
		font-family: $sacra;
		font-size: 3em;
		margin-top: -18px;
	}
	.cont-logo {
		display: inline-block;
		padding: 0 2%;
	}
	.row.no-margin {
		margin: 0;
		padding: 1%;
		font-family: $myR;
		font-size: 0.9em;
		background: $red2;
	}
}