.section {
	color: white;
	padding: 3% 0 1% 0;
	.title-section {
		font-family: $pls;
		font-size: 5em;
		margin: 0;
	}
	.subtitle-section {
		display: block;
		font-family: $sacra;
		font-size: 3em;
		margin-top: -18px;
	}
}

.pd-top{
	padding-top: $pd-top;
}
.padding-vertical {
	padding-top: $pd-20;
	padding-bottom: $pd-top;
}