.video {
	position: relative;
	height: 565px;
	.chilito-center {
		position: absolute;
		margin-top: -3%;
		margin-left: 30%;
	}
	background-image: url(../img/bg-video.jpg);
	background-position: center;
	background-size: cover;
	.cont-video {
		position: absolute;
		margin-top: -1%;
		margin-left: 20%;
		.cont-play {
			position: relative;
			font-size: 10em;
			margin-top: -74%;
			margin-left: -10%;
			a {
				color: white;
				&:hover {
					color: #e0e0e0;
				}
			}
		}
	}
	h2 {
		position: relative;
	}
	span {
		position: relative;
		i {
			font-size: 0.4em;
		}
	}
	.modal {
		height: 500px;
		min-height: 250px;
		.modal-content {
			height: 100%;
			iframe {
				width: 100%;
				height: 100%;
			}
		}
	}
}
//SECCION CLUB
.club {
	.img-astro {
		margin-top: -40%;
	}
	background-image: url(../img/bg-pagina-3.jpg);
	background-position: center;
	background-size: cover;
	form {
		width: 100%;
		padding: 1% 4%;
		input[type=text] {
			@include form-club();
			background-color: white;
			border-bottom: 0px;
			padding-left: 15px;
			box-sizing: inherit;
			font-family: $pls;
			font-size: 1.5em;
			color: black;
			&:hover, &:focus {
				border: 0;
			}
		}
		input[name=nombre] {
			border-radius: 30px 0px 0px 30px;
			-moz-border-radius: 30px 0px 0px 30px;
			-webkit-border-radius: 30px 0px 0px 30px;
		}
		i.submit-club {
			@include form-club();
			border-radius: 0;
			border-radius: 0px 30px 30px 0px;
			-moz-border-radius: 0px 30px 30px 0px;
			-webkit-border-radius: 0px 30px 30px 0px;
			background-color: $red;
			padding-top: 1.5%;
			padding-left: 10px;
			input {
				width: 100%;
				font-family: $pls;
				text-align: left;
				font-size: 1.5em;
				&:focus {
					border: 0;
				}
			}
		}
	}
}
//MAPA
.mapa {
	iframe {
		width: 100%;
		height: 500px;
	}
}

.formulario{
	padding-top: $pd-top;
	.submit{
		height: 30%;
		padding: 3%;
		background-color: $red;
		font-family: $pls;
		border: none;
		border-radius: 10%;
		font-size: 1.6em;
	}
}
.back-bienvenido{
	background-image: url(../img/bg-video.jpg);
	background-position: center;
	background-size: cover;
	.title-section-bienvenido{
		font-family: $pls;
		font-size: 5em;
		margin: 0;
		color: white;
	}
	.subtitle-section-bienvenido{
		display: block;
		font-family: $sacra;
		font-size: 3em;
		margin-top: -18px;
		color: white;
	}
}
.recuerdos{
	background-image: url(../img/bg-pagina-6.jpg);
	background-position: center;
	background-size: cover;
	.astronauta{
		max-width: 100%;
		padding: 35% 0;
	}
	input{
		border: solid 1px white;
		padding: 1%;
		width: 60%;
	}
	.boton-club{
		width: 60%;
	}
	.title-section- {
		font-family: $pls;
		font-size: 2em;
		margin: 0;
	}
}
.foto{
	background-color: #f0f0f0;
	padding: 3%;
	border: solid 1px grey;
	img{
		max-width: 90%;
		padding-top: 5px;
	}
}
.escribeme{
	background-image: url(../img/bg-pagina-7.jpg);
	background-position: center;
	background-size: cover;
	input{
		border: solid 1px white;
		padding: 1%;
		width: 80%;
	}
	textarea{
		border: solid 1px white;
		padding: 1%;
		width: 82%;
	}
	.boton-contacto{
		width: 60%;	
		font-family: $pls;
		font-size: 2em;
	}
}