//fonts
$myB: myriadB, sans-serif;
$myR: myriadR, sans-serif;
$pls: pleaseWrite, sans-serif;
$sacra: sacramento, cursive;

//color
//rojo chilito
$red: #ff212b;
//rojo oscuro
$red2: #d40000;
//azul textos
$blue: #274470;
//gris bg recuerdos
$gris: #F0F0F0;

//Media queries
$small: "(max-width : 600px)";
$medium: "(min-width : 601px) and (max-width : 991px)";

//padding y margenes (ELIMINAR AL BORRAR TIENDA)

$pd-top: 5%;
$pd-20: 20%;